{% extends 'base.html.twig' %}

{% block title %}
	Genres List
{% endblock %}

{% block body %}

	<div class="wrapper">
		<div class="main-container">
			<div class="item">
				<h1>Create a genre</h1>
			</div>
			<div class="item">
				<a href="{{ path('genre.index') }}" class="btn btn-primary">Genres List</a>
				<a href="{{ path('genre.createGenre') }}" class="btn btn-primary">Create Genre</a>
			</div>

			<div class="item">
				{{ form_start(form) }}

				<div class="container">
					{{ form_row(form.genre) }}
					{{ form_row(form.save) }}
				</div>

				{{ form_end(form) }}

			</div>
		</div>
	</div>
{% endblock %}
