{% extends 'base.html.twig' %}

{% block title %}
	Books List
{% endblock %}

{% block body %}

	<div class="wrapper">
		<div class="main-container">
			<div class="item">
				<h1>Create a book</h1>
			</div>
			<div class="item">
				<a href="{{ path('book.index') }}" class="btn btn-primary">Books List</a>
				<a href="{{ path('book.createBook') }}" class="btn btn-primary">Create Book</a>
			</div>

			<div class="item">
				{{ form_start(form) }}

				<div class="container">
					{{ form_row(form.title) }}
					{{ form_row(form.ISBN) }}
					{{ form_row(form.year) }}
					{{ form_row(form.author) }}
					{{ form_row(form.genre) }}
					{{ form_row(form.publisher) }}
					{{ form_row(form.description) }}
					{{ form_row(form.quantity) }}
					{{ form_row(form.save) }}
				</div>

				{{ form_end(form) }}

			</div>
		</div>
	</div>
{% endblock %}
